.App {
  text-align: center;
  height: 100vh;
  background-color: #f8b195;
}
.block-span {
  display: block;
}
.card-wrapper {
  color: #a8e6ce;
  background-color: #6c5b7b;
  width: 70%;
  height: 170px;
  border: 5px solid #f8b195;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0 auto;
  font-size: 80%;
}
.pokemon-image {
  height: 50%;
  width: 50%;
}
.bottom-ref-element {
  width: 70%;
  height: 600px;
  background-color: #6c5b7b;
  margin: auto;
}

.header-text {
  display: inline;
  position: relative;
  font: 100px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: #6c5b7b;
}
.pokemon-list-wrapper {
  height: 80vh;
  width: 100%;
  overflow: auto;
}

.selected {
  background-color: #291e33;
}
.button-start-game {
  background-color: #291e33;
  width: 20%;
  height: 5%;
  color: #a8e6ce;
  margin-top: 1%;
  border: 1px solid #f8b195;
  border-radius: 30px;
  font-weight: bold;
  font-size: 100%;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 250ms linear, visibility 0s linear 250ms;
  -o-transition: opacity 250ms linear, visibility 0s linear 250ms;
  -webkit-transition: opacity 500ms linear, visibility 0s linear;
  -webkit-transition-delay: 0s, 250ms;
  transition: opacity 250ms linear, visibility 0s linear 250ms;
}
.button-visible {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  -moz-transition: opacity 250ms linear, visibility 0s linear;
  -o-transition: opacity 250ms linear, visibility 0s linear;
  -webkit-transition: opacity 250ms linear, visibility 0s linear;
  transition: opacity 250ms linear, visibility 0s linear;
}
.page-wrapper {
  text-align: center;
  height: 100vh;
}
.button-close-game {
  background-color: #f8b195;
  width: 7vh;
  height: 7vh;
  color: #6c5b7b;
  border: 1px solid #f8b195;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2vh;
  cursor: pointer;
  position: absolute;
  top: 1%;
  left: 1%;
}
.button-close-game:hover {
  background-color: #6c5b7b;
  color: #f8b195;
}
.game-wrapper {
  height: 800px;
  width: 1000px;
  margin: 3% auto;
  position: relative;
}
.field {
  background-color: #6c5b7b;
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
}
.dotted-line {
  height: 800px;
  width: 400px;
  border-right: 3px dashed #f8b195;
  position: fixed;
}
.ball {
  width: 5%;
  height: 5%;
  position: absolute;
  background-color: #f8b195;
  border-radius: 50%;
}
.right-card {
  height: 30%;
  width: 10%;
  background-color: #291e33;
  position: absolute;
  left: 0px;
}
.left-card {
  height: 30%;
  width: 10%;
  background-color: #291e33;
  position: absolute;
  left: 900px;
}
.player-card-image {
  width: 90%;
  height: 100%;
}
