.App {
  text-align: center;
}
html {
  height: 100%;
  background-color: #f8b195;
}
.block-span {
  display: block;
}
.card-wrapper {
  color: #a8e6ce;
  background-color: #6c5b7b;
  width: 70%;
  height: 170px;
  border: 5px solid #f8b195;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0 auto;
}
.pokemon-image {
  height: 90px;
  width: 90px;
}
.bottom-ref-element {
  width: 70%;
  height: 600px;
  background-color: #6c5b7b;
  margin: auto;
}

.header-text {
  display: inline;
  position: relative;
  font: 100px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: #6c5b7b;
}
.pokemon-list-wrapper {
  height: 80%;
  width: 100%;
  overflow: auto;
  position: absolute;
}
